
footer {
	background-color: #F83362;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 2em;
	width: 100%;

}



footer h4, footer p, footer h3 {
	margin: 0.5em 0em 0.2em 0;
}

.call-container, .mail-container, .social-media-icons-container {
	display: flex;
	flex-direction: row;
}


.social-media-icons-container > * {
	margin: 0.3em;
}

.call-container h4, .mail-container h4 {
	margin: 0 0.5em 0em 0em;

}
.staff-container {
	display: none;
}

.staff-container p {
	color: white;
}

@media (min-width: 800px) {
	.staff-container {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 4;
		grid-row: 1;
		padding-right: 1.5em;
	}

	.staff-container p {
		margin: 0em 0.5em 0 0;
	}

	.staff-container p:hover {
		color: black;
		cursor: pointer;
	}

	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		margin: 0;
		width: 100%;
	}

	footer h3 {
		padding-left: 1em;
	}

	.call-container{
		grid-column: 1;
		padding-left: 1em;
	}

	.number {
		grid-column: 1;
		padding-left: 1em;
	}

	.mail-container {
		grid-row: 2;
		grid-column: 2;
	}

	.social-media-icons-container {
		grid-column: 3;
		grid-row: 3;
	}
	.social {
		grid-column: 3;
		grid-row: 2;
		margin: 0;
	}

	.start-link {
		grid-row: 4;
		grid-column: 1 / span 5;
		text-align: center;
	}

}

.start-link {
	color: white;
	font-weight: 600;
}

.start-link:hover {
	color: black;
	cursor: pointer;
}


