header {
	display: flex;
	flex-direction: column;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 5px 5px -2px;
	padding-bottom: 1em;
}

#close-Icon {
	font-size: 1.8em;
	padding-right: 0.3em;
	padding-left: 0.5em;
}

#hamburger-icon {
	font-size: 1.8em;
	padding-right: 0.3em;
	padding-left: 0.5em;
}

#hamburger-icon:hover {
	color:#429C76;
	cursor: pointer;

}

.logo-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0em 0.3em 0 0.3em;
}

.spacer {
	flex-grow: 1;
}

#cart-icon {
	font-size: 1.5em;
	padding-right: 0.5em;
	color:black;
}

#cart-icon:hover {
	color:#429C76;
	cursor: pointer;
}

.searchBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	margin: 0em 0.3em 0 0.3em;
}

.search-input {
	width: 100%;
	padding: 0.5em;
	border-color: #F83362;
	border-radius: 0.3em;
}

.search-icon {
	position: absolute;
	right: 10px;
	top: 5px;
}

.wideNav {
	display: none;
}

@media (min-width: 600px) {
	.search-input {
		display: none;
	}

	.wideNav {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
	}

	.wideNav li {
		padding: 0em 0.5em 0em 1em;
		color:black;
		text-decoration: none;
		font-weight: 600;
	}

	#links {
		text-decoration: none;
	}

	.wideNav li:hover {
		color: #429C76;
	}

	#hamburger-icon {
		display: none;
	}

	.searchBar {
		display: none;
	}

	#search-icon-wide {
		color: black;
	}

	#search-icon-wide:hover {
		color: #429C76;
		cursor: pointer;
	}

	.search-input-wide {
		padding: 0.3em;
		border-radius: 1em;
		border: solid 1px #429C76;
	}

	.search-input-wide::placeholder {
		padding-left: 0.5em;
	}
	
}