

body {
  margin: 0;
  background-color: white;
  font-family: 'Readex Pro', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}

footer {
  justify-content: flex-end;
}




