

body {
  margin: 0;
  background-color: white;
  font-family: 'Readex Pro', sans-serif;
  box-sizing: border-box;
 

}

main {
  position: relative;
  min-height: calc(100vh - 96.24px - 146.88px);
}






