.cart-head-container {
	background-color: #429C76;
	color: white;
	text-align: center;

}

.cart-head-container p {
	padding: 0.5em;
	font-size: 20px;
}

.cart-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#d2f9e9; 
	margin: 2em;
	border-radius: 1em;
	
}

.cart-item-container {
	
	display: grid;
	grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
	grid-template-columns: 1fr 1fr 0.5fr;
	background-color: white;
	min-width: 300px;
	margin: 1em;
	border-radius: 1em;
	padding: 0.5em;
}

.cart-item-container h2 {
	grid-row: 1;
	grid-column: 1 / span 3;
	text-align: center;
}

.cart-item-container img {
	grid-row: 2;
	grid-column: 1 / span 3;
}

.count {
	grid-row: 3;
	grid-column: 1;
	margin: 0;
	align-self: center;
}
.btn-container {
	grid-row: 3;
	grid-column: 2;
	align-self: center;
}

.cart-item-sum {
	grid-row: 4;
	font-weight: 600;
}

#trash-icon {
	grid-row: 3;
	grid-column: 3;
	align-self: center;
}

