

.head-products {
	background-color: #429C76;
	color: white;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
}


.summertoy-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.summertoy-container {
	width: 300px;
	margin: 0em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	
}

.link-product {
	display: contents;
	
}

.head-summertoy-text {
	grid-row: 1;
	grid-column: 1 / span 2;
	color: black;
	font-weight: 200;
	margin-bottom: 0;
	text-align: center;
}

.summertoy-container button {
	grid-row: 3;
	grid-column: 2;
	align-self: center;
	background-color: #429C76;
	font-size: 16px;
	color: white;
	height: 50px;
	border-radius: 1em;
	margin-left: 0.5em;
}

#cart-icon-product {
	color: black;
}
.summertoy-image {
	width: 200px;
}


.image-container {
	width: 200px;
	height: 200px;
	grid-row: 2;
	grid-column: 1 / span 2;
	justify-self: center;
}

.price-container-summertoy {
	background-color: #E52727;
	color: white;
	border-radius: 1em;
	height: 50px;
	display: grid;
	grid-row: 3;
	grid-column: 1;
	justify-content: center;
	align-self: center;
	margin-right: 0.5em;
}